<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../lib/phpunit/phpunit.xsd"
    bootstrap="../../lib/phpunit/bootstrap.php"
    stopOnError="false"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="false"
>

    <testsuites>
        <testsuite name="tool_tinytoolbar_testsuite">
            <directory suffix="_test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>classes</directory>
        </whitelist>
    </filter>

</phpunit>
